<div class="results">
  <% @results.each do | result | %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5> <%= Movie.find(result[0]).title %> <h5>
        <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
        <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Rate again!", movies_path, class: "btn btn-primary rate" %>