// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-nav {
  margin: 20px;
}

.rating-form-container form{
  display: inline;
}

.movies {
  margin: 20px 40px;
}