.navbar {
  background: #0a001a;
  margin: 0 0 20px 0;
  padding: 15px;
  border-bottom: rgb(250, 211, 84) 4px solid;;
  color: #FFC500;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}
 .login-nav a{
   color: #f4f4f4;
 }

 .logo {
  font-family: 'Francois One', sans-serif;
 }